<h1>Hello {{ name }}, this is your dashboard</h1>
{{#if posts }}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    Title
                </th>
                 <th scope="col">
                    Date
                </th>
                 <th scope="col">
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each posts}}
            <tr>
                <td>
                     <a href="/posts/{{_id}}">{{title}}</a>
                </td>
                <td>
                     {{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}
                </td>
                <td>
                     <span>{{status}}</span>
                </td>
                <td>
                    <a href="/posts/edit/{{_id}}" class="btn"><i class="fas fa-edit"></i> Edit</a>
                </td>
                <td>
                    <form action="/posts/{{_id}}" method="POST" id="delete-form">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn"><i class="fas fa-trash"></i> Delete </button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{ else }}
        <p>You have no posts</p>            
    {{/if}}

