<h1>Dashboard</h1>
<h2>Hello {{ name }}</h2>
{{#if posts }}
    <div class="row">
        <div class="col-xs-4">
            <h3>Title</h3>
        </div>
         <div class="col-xs-4">
            <h3>Date</h3>
        </div>
         <div class="col-xs-4">
            <h3>Status</h3>
        </div>
    </div>

    {{#each posts}}
        <div class="row">
            <div class="col-xs-4">
                <a href="/posts/{{_id}}">{{title}}</a>
            </div>
            <div class="col-xs-4">
                {{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}
            </div>
            <div class="col-xs-4">
                <span>{{status}}</span>
            </div>
            <div class="col-xs-4">
                <a href="/posts/edit/{{_id}}"><i class="fas fa-edit"></i></a>
            </div>
            <div class="col-xs-4">
                <form action="/posts/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-trash"></i></button>
                </form>
            </div>
        </div>
    {{/each}}

{{ else }}
<p>You have no posts</p>
{{/if}}