<h2>Hello this is display post page</h2>

    <div class="col-md-12">
        {{{edit post.user user post._id false}}}
        <h3>{{post.title}}</h3>
        <p>
            {{{post.textarea}}}
        </p>
        <p>
            {{formatDate daate 'MMMM DD YYYY, h:mm:ss a'}}
        </p>
        <p>
            {{post.user.username}}
        </p>
        <img src="{{post.user.image}}" class="img-circle responsive-img img-small img-rounded">
        <div class="card-action">
            <a href="/posts/user/{{post.user._id}}">More From {{post.user.firstName}}</a>
        </div>
    </div>
