<h1>Posts</h1>
<div class="col-md-12">
    {{#each posts}}
        <div class="card">
            <!--img class="card-img-top" src="..." alt="Card image cap"-->
            {{{ edit user ../user _id }}} <!--refrencing post user, 
            logged in user accessing it by going up, post id 
            Initially doesn't know loggedIn user unless it is global variable:  extracted from response and set as local-->
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                 <p>{{stripTags (truncate textarea 150)}}</p>
                <span>{{createdAt}}</span>
                <p class="card-text"></p>
                <a href="/posts/user/{{user._id}}" class="btn-primary">{{user.displayName}}</a>
                <p><a href="/posts/{{_id}}" class="btn grey">Read More</a></p>
            </div>
        </div>
    {{else}}
        <p>No posts to display</p>
    {{/each}}
</div>